.scroll-container {
    .jspVerticalBar {
        background: transparent;

        .jspTrack {
            background: transparent;

            .jspDrag {
                background: transparent;
                border-right: 2px solid rgba(128, 128, 128, .5);
                margin-right: 4px;
            }
        }
    }

    &.invisible-scrollbar {
        .jspVerticalBar {
            .jspTrack {
                .jspDrag {
                    border: none;
                }
            }
        }
    }
}
